NODE_ENV=production
HOST_PORT=3005
PORT=3000
HOSTNAME=0.0.0.0
COOKIE_SECURE=false

API_BASE_URL=http://tarna-api:4000
API_PORT=4000

NEXT_PUBLIC_API_BASE_URL=/backend
NEXT_PUBLIC_WS_URL=

NEXT_SERVER_ACTIONS_ALLOWED_ORIGINS=192.162.69.149:8086,127.0.0.1:8086,localhost:8086